
text_color = #666
white_opa_100 = rgba(255,255,255,1)
white_opa_70 = rgba(255,255,255,0.7)
white_opa_0 = rgba(255,255,255,0)

box()
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box