@import '../../../app/styl/var'
 
footer
    width 100%
    position relative
    color text_color
    background white_opa_70
    background -webkit-linear-gradient(bottom, white_opa_100 0%, white_opa_70 50%, white_opa_0 100%)
    background -o-linear-gradient(bottom, white_opa_100 0%, white_opa_70 50%, white_opa_0 100%)
    background -moz-linear-gradient(bottom, white_opa_100 0%, white_opa_70 50%, white_opa_0 100%)
    background linear-gradient(bottom, white_opa_100 0%, white_opa_70 50%, white_opa_0 100%)

#footer_wrap
    padding 16px

#footer_title
    text-transform uppercase

