footer {
  width: 100%;
  position: relative;
  color: #666;
  background: rgba(255,255,255,0.7);
  background: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 100%);
}
#footer_wrap {
  padding: 16px;
}
#footer_title {
  text-transform: uppercase;
}
