#code_manager_table{
    width: 700px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    padding: 0;
    text-align: center;
} 

#code_manager_table td{
    padding: 0;
}

#code_manager_table textarea,
#code_manager_table input
{
    color: #fff;
}

.code_manager_btn{
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: auto;
}

.code_manager_btn:active{
    background: rgba(0, 0, 0, 0.2);
}

.code_manager_table_section{
    background: #666;
    color: #fff;
    padding: 10px;
}

.code_manager_table_section1{
    background: rgba(66, 66, 66, 0.3);
}

.code_manager_table_section2{
    background: rgba(132, 132, 132, 0.3);
}

.code_manager_path_row{
    cursor: pointer;
}

.code_manager_path_row:active{
    background: rgba(0, 0, 8, 0.1);
}


#code_manager_input_path{
    background: transparent; 
    width: 100%; 
    outline: none; 
    border: none; 
    border-bottom: 1px solid #ddd;
}

#code_manager_table_ftp{
    text-align: left;
    width: 100%;
}

#code_manager_table_ftp td{
    border-bottom: 1px solid #ddd;
}

.table_db{
    color: #fff;
    border-collapse: collapse;
}
.table_db tr{
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.table_db td,
.table_db th{
    padding: 0px 10px;
}