@import '../../../app/styl/var'

.index_title
	padding 0 20px
	border-radius 50px
	color text_color
	box()
	
.full_height_box
	height auto
	display flex
	display flex
	display -webkit-flex
	align-items center
	width 100%
	div
		width 100%

.fixed_full
	position fixed
	top 50px
	right 0
	z-index -1	

.homepage_main_img
	width 100px